.profile{
    .center{
        text-align: center;
    }
    .portfolio-gradient{
        z-index: 2;
        .profile-cover{
            img{
                @media (max-width: 767px){
                    height: 150px;
                    
                }
                @media (max-width: 550px){
                    height: 150px;
                }
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            
        }
    }
    .prof-wraper{
        //max-width: 900px;
        padding-bottom: 40px;
        margin: 0 auto;
        //background-color: aquamarine;
        
        .prof-main{
            @media (max-width: 767px){
                width: 490px;
            }
            @media (max-width: 550px){
                width: 100%;
            }
            width: 490px;
            position: relative;
            z-index: 2;
            margin: auto;

            .prof-img{
                z-index: 5;
                img{
                    width:180px;
                    height:180px;
                    object-fit:cover;
                    border-radius:50%;
                    border: 5px solid white;
                }
            }
            .name{
                font-size: 25px;
                margin-top: 15px;
                line-height: 1.4;

            }
            .job-title{
                font-size: 14px;
                color:rgba(58,60,72,0.45) ;
                margin-top: 15px;
            }
            .descr{
                
                @media (max-width: 550px){
                margin: 15px 20px 0px;  //スマホサイズの左右の余白調整
                }
                font-size: 15px;
                margin: 15px auto 0;
                text-align: left;
                line-height: 1.8;
            }
        }
    }
}