
.wrap{
    background-color: #EDF3F9;
    .main{
        //background-color: #EDF3F9;
        max-width: 900px;
        padding: 0 0px;
        margin: 0 auto;
        text-align: center;
    }
    .max-widh{
        max-width: 1200px;
        padding: 0 0px;
        margin: 0  auto;
        margin-bottom: 40px;
        text-align: center;
    }
}